@page "/patients/add"
@attribute [Authorize(Roles = "Admin")]

@{
    if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@_errorMessage</MudAlert>
    }
}

<MudContainer Class="mt-5 mb-5">
    <MudCard Style="padding: 2rem;">
        <MudItem>
            <MudText Typo="Typo.h4"><b><i class="bi bi-person-fill-add"></i> Add a new patient</b></MudText>
        </MudItem>

        <MudDivider />

        <MudItem>
            <EditForm Model="model" OnValidSubmit="AddPatient">
                <DataAnnotationsValidator />
                <ValidationSummary style="color: red;" />

                <MudGrid>

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudTextField T="string" Label="Full Name" Required="true" RequiredError="Full name is required"
                                      @bind-Value="model.FullName" />
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="6" lg="6">
                        <MudTextField T="string" Label="Phone Number (optional)" @bind-Value="model.PhoneNumber" />
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="6" lg="6">
                        <MudDatePicker Label="Date Of Birth (optional)" Editable="true"
                                       Mask='@( new DateMask("dd/MM/yyyy"))' @bind-Date="@model.DateOfBirth"
                                       DateFormat="dd/MM/yyyy" />
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudTextField T="string" Label="Email Address (optional)" @bind-value="model.EmailAddress" />
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudTextField T="string" Label="Address (optional)" @bind-value="model.Address" />
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudRadioGroup @bind-SelectedOption="model.Gender">
                            <MudRadio Option="GenderEnum.Male" Color="Color.Info">Male</MudRadio>
                            <MudRadio Option="GenderEnum.Female" Color="Color.Secondary"> Female</MudRadio>
                        </MudRadioGroup>
                    </MudItem>

                    <MudItem xs="12" md="12" lg="12">
                        <div class="vertical-align">
                            <MudIcon Icon="@Icons.Material.Filled.MedicalInformation" Color="Color.Info" /> &nbsp;
                            <span>
                                <MudText Typo="Typo.h6"><b>Additional Information</b></MudText>
                            </span>
                        </div>
                    </MudItem>

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudSelect T="string" Label="Medical History (Optional)"
                                   @bind-Value="_medicalHistoryStr" MultiSelection="true"
                                   Style="width: 100%;">
                            @foreach (string value in cases)
                            {
                                <MudSelectItem Value="value">@value</MudSelectItem>
                            }

                        </MudSelect>
                    </MudItem>

                    <MudDivider />

                    <MudItem Class="mb-3" xs="12" md="12" lg="12">
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem xs="12" sm="12" md="6" lg="6">
                                <MudButton Style="width: 100%;" Disabled="@_isBusy" Variant="Variant.Filled" Color="Color.Primary"
                                           ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Add">
                                    Add Patient
                                </MudButton>
                            </MudItem>
                            <MudItem xs="12" sm="12" md="6" lg="6">
                                <MudButton Style="width: 100%;" Disabled="@_isBusy" Variant="Variant.Filled"
                                           Color="Color.Dark" StartIcon="@Icons.Material.Filled.Cancel"
                                           @onclick='() => NavigationManager.NavigateTo("/patients/all")'>
                                    Cancel
                                </MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
    </MudCard>
</MudContainer>
