@page "/patients/records/add/{patientId:guid}"
@attribute [Authorize(Roles = "Admin")]

@{
    if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@_errorMessage</MudAlert>
    }
}

<MudContainer Class="mt-2 mb-2">
    <MudCard Style="padding: 2rem; box-shadow: 5px 5px 25px lightgray;">
        <MudItem>
            <MudText Typo="Typo.h6"><b><i class="bi bi-envelope-paper-fill"></i> Add a new health record for
                    @patient.FullName </b></MudText>
        </MudItem>

        <MudDivider />

        <MudItem>
            <EditForm Model="model" OnValidSubmit="AddRecord">
                <DataAnnotationsValidator />
                <ValidationSummary style="color: red;" />

                <MudGrid>

                    <MudItem Class="mb-3 mt-5" xs="12" md="12" lg="12">
                        <MudTextField T="string" Variant="Variant.Outlined" Counter="0" Immediate="true"
                            Label="Case Description" Multiline="true" Required="true"
                            RequiredError="Case Description is required" @bind-Value="model.Description" Lines="10"
                            HelperText="Describe the patient and list some relevant information"
                            HelperTextOnFocus="true" />
                    </MudItem>

                    <MudItem xs="12" md="12" lg="12">
                        <MudExpansionPanels MultiExpansion="true">
                            <div class="vertical-align">
                                <MudIconButton Icon="@Icons.Outlined.Lightbulb" Color="Color.Tertiary"
                                    OnClick="GetInsights" Disabled="_isPreparingInsights" /> &nbsp;
                                <span>
                                    <MudText Typo="Typo.h5"><b>Smart Insights</b></MudText>
                                </span>
                                <MudChip Color="Color.Tertiary" Size="Size.Small" Variant="Variant.Filled"
                                    Text="BETA" />
                            </div>
                            <MudExpansionPanel Class="mb-5 mt-3" Text="@InsightsPannelText" Disabled="!_isInsightReady">
                                <InsightsContainer Text="Suggestions For Patient" insights="patientSuggestions" />
                                <InsightsContainer Text="Related Medical Cases" insights="relatedCases" />
                                <InsightsContainer Text="Suggested Medical Tests" insights="suggestedTests" />
                                <InsightsContainer Text="Case Information" insights="caseInsight" />

                                <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="mt-5 mb-5">Not
                                    convincing results? Try regenerating the insights again</MudAlert>
                            </MudExpansionPanel>


                            <MudExpansionPanel Text="Case Notes">
                                <MudGrid>
                                    <MudItem xs="12" md="12" lg="12">
                                        <MudTextField T="string" @bind-Value="@_noteTitle"
                                            Label="Note field (optional)" />
                                    </MudItem>

                                    @if (notes != null)
                                    {
                                        @foreach (var note in notes)
                                        {
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.body2"><i class="bi bi-pin-angle-fill"></i>@note.Title
                                                </MudText>
                                            </MudItem>
                                        }
                                    }
                                    else
                                    {
                                        <MudItem>
                                            <MudText Typo="Typo.body1" Color="Color.Tertiary"></MudText>
                                        </MudItem>
                                    }
                                    <MudItem xs="12" md="12" lg="12">
                                        <MudButton Style="width: 100%;" Variant="Variant.Filled" Color="Color.Warning"
                                        @onclick="AddNote"><i class="bi bi-file-earmark-plus-fill"></i><b> Add
                                                Note</b></MudButton>
                                    </MudItem>
                                </MudGrid>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudItem>

                    <MudItem xs="12">
                        <MudButton ButtonType="ButtonType.Submit" Style="width: 100%;" Variant="Variant.Filled"
                            Color="Color.Primary" Class="mb-2">Add Health Record</MudButton>
                        <MudDivider />
                        <MudButton Style="width: 100%;" Variant="Variant.Outlined" Color="Color.Info" Class="mb-3"
                        @onclick="GoBack">Go Back</MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
    </MudCard>
</MudContainer>


<style>
    .vertical-align {
        display: flex;
        align-items: center;
    }
</style>
