@page "/patients/records/{id:guid}"
@attribute [Authorize(Roles = "Admin")]

@{
    if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" style="padding: 1rem;">@_errorMessage!</MudAlert>
    }
}

@{
    if (_isBusy == true)
    {
        <MudGrid Class="d-flex justify-center" Style="height: 100vh; align-items: center;">
            <MudItem>
                <Loader />
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudContainer Class="mt-5">
            <MudCard Style="padding: 2rem;">

                @* RECORD HEADERR SECTION *@

                <MudCardContent>
                    <MudText Typo="Typo.h3">
                        <b><i class="bi bi-journal-medical"></i> @Lang.Keys["HealthRecord:Title"]</b>
                    </MudText>
                    <MudText Typo="Typo.h6">@record.CreatedOn.ToLongDateString()</MudText>
                    <MudText Typo="Typo.h6" Color="Color.Info" @onclick="GoBack"
                             Style="text-decoration: underline; cursor: pointer;">@record.Patient.FullName</MudText>
                            <MudDivider />
                        </MudCardContent>

                        @* RECORD DESCRIPTION NOTES *@

                        <MudCardContent Class="mb-5">
                            <MudTextField T="string" Label="@Lang.Keys["HealthRecord:Description"]" @bind-Text="@record.Description" ReadOnly="true"
                                          MultiLine="true" Lines="10" Variant="Variant.Outlined" />
                        </MudCardContent>

                        @* SMART INSIGHTS SECTION *@

                        <MudCardContent>
                            <MudExpansionPanels MultiExpansion="true">
                                <div class="vertical-align">
                                    <MudIcon Icon="@Icons.Outlined.Lightbulb" Color="Color.Tertiary" /> &nbsp;
                                    <span>
                                        <MudText Typo="Typo.h5"><b>@Lang.Keys["HealthRecord:Insights"]</b></MudText>
                                    </span>
                                    <MudChip Color="Color.Tertiary" Size="Size.Small" Variant="Variant.Filled" Text="BETA" />
                                </div>

                                <MudExpansionPanel Class="mb-5 mt-3" Text="@Lang.Keys["HealthRecord:SmartInsights"]">
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:Suggestions"]" insights="@record.PatientSuggestion" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:RelatedCases"]" insights="@record.RelatedMedicalCases" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:SuggestedTests"]" insights="@record.SuggestedMedicalTests" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:CaseInfo"]" insights="@record.MedicalCaseInsight" />
                                </MudExpansionPanel>

                            </MudExpansionPanels>
                        </MudCardContent>

                        @* RECORD NOTES SECTION *@

                        <MudCardContent>
                            <div class="vertical-align">
                                <MudIcon Icon="@Icons.Material.Filled.MedicalInformation" /> &nbsp;
                                <span>
                                    <MudText Typo="Typo.h6"><b>@Lang.Keys["HealthRecord:AdditionalInfo"]</b></MudText>
                                </span>
                            </div>

                            @if (record.Notes == null)
                            {
                                <Loader />
                            }
                            else
                            {
                                if (record.Notes.Count == 0)
                                {

                                    <div class="vertical-align">
                                        <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Info" /> &nbsp;
                                        <MudText Typo="Typo.body1">
                                            @Lang.Keys["HealthRecord:NoNotes"]
                                        </MudText>
                                    </div>

                                }
                                else
                                {
                                    <MudCardContent>
                                        @foreach (var note in record.Notes)
                                        {
                                            <MudText Typo="Typo.body2"><i class="bi bi-pin-angle-fill"></i> @note.Title</MudText>
                                        }
                                    </MudCardContent>
                                }
                            }
                        </MudCardContent>

                        @* THIS SECTION IS FOR THE PAYMENTS*@

                        <MudCardContent>
                            <AuthorizeView>
                                <Authorized>
                                    @if (context.User.FindFirst("DoctorType").Value == "Dentist")
                                    {
                                        <div class="vertical-align mb-2">
                                            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Success" /> &nbsp;
                                            <span>
                                                <MudText Typo="Typo.h6">
                                                    <b>@Lang.Keys["HealthRecord:Payments"]:</b> <MudChip Color="Color.Primary"
                                                                              Size="Size.Medium">@record.TotalAmount@record.Currency</MudChip>
                                                                        </MudText>
                                                                    </span>
                                                                </div>

                                                                @if (payments != null && payments.Any())
                                                                {
                                                                    if (_refreshingPayments)
                                                                    {
                                                                        <MudItem>
                                                                            <Loader />
                                                                        </MudItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudSimpleTable Dense="true" Hover="true">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>@Lang.Keys["HealthRecord:AmountIn"] @record.Currency</th>
                                                                                    <th>@Lang.Keys["HealthRecord:PaidOn"]</th>
                                                                                    <th style="text-align: end;">@Lang.Keys["HealthRecord:Options"]</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var payment in payments)
                                                                                {
                                                                                    <tr>
                                                                                        <td>@payment.Amount</td>
                                                                                        <td>@payment.PaidOn</td>
                                                                                        <td style="text-align: end">
                                                                                            <MudButton Variant="Variant.Text" Color="Color.Info" @onclick="@(() => OpenPaymentDetailsDialog(payment.Id))" StartIcon="@Icons.Material.Filled.Details">@Lang.Keys["HealthRecord:Details"]</MudButton>
                                                                                            <MudButton Disabled="record.IsPaymentCompleted" Variant="Variant.Text" Color="Color.Error" @onclick="@(() => OpenPaymentRemoveDialog(payment.Id))" StartIcon="@Icons.Material.Filled.Delete">@Lang.Keys["HealthRecord:RemovePay"]</MudButton>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </MudSimpleTable>
                                                                        @if (record.IsPaymentCompleted)
                                                                        {
                                                                            <MudAlert Class="mt-1" Severity="Severity.Success" Variant="Variant.Filled" Icon="@Icons.Material.Filled.CheckCircle" Style="text-align: right">@Lang.Keys["HealthRecord:Completed"]</MudAlert>
                                                                        }
                                                                        <MudText Typo="Typo.body1" Class="mt-2" Color="Color.Surface">@Lang.Keys["HealthRecord:AmountLeft"]: @(record.TotalAmount - payments.Sum(p => p.Amount))@record.Currency</MudText>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudAlert Severity="Severity.Info" Icon="@Icons.Material.Filled.Info" Style="text-align: right">@Lang.Keys["HealthRecord:NoPayments"]</MudAlert>
                                                                }
                                                                @if (_wantsToAddPayment)
                                                                {
                                                                    <MudItem Class="add-payment-form" Style="border: 2px solid lightgray; border-radius: 10px; padding: 1rem;">
                                                                        @if (!string.IsNullOrEmpty(_paymentErrorMessage))
                                                                        {
                                                                            <MudAlert Class="mb-3"
                                                                                      Severity="Severity.Error"
                                                                                      Variant="Variant.Filled"
                                                                                      Icon="@Icons.Material.Filled.Warning">
                                                                                @_paymentErrorMessage
                                                                            </MudAlert>
                                                                        }
                                                                        <MudGrid>
                                                                            <MudItem xs="12" sm="12" md="6" lg="6">
                                                                                <MudTextField T="string" Label="@Lang.Keys["HealthRecord:PayDescription"]"
                                                                                              @bind-Text="paymentModel.Description" Class="mt-2"
                                                                                              Variant="Variant.Outlined" Margin="Margin.Dense" />
                                                                            </MudItem>
                                                                            <MudItem xs="12" sm="12" md="6" lg="6">
                                                                                <MudTextField T="decimal" Label="@Lang.Keys["HealthRecord:AmountPaid"]"
                                                                                              @bind-Value="paymentModel.Amount"
                                                                                              Variant="Variant.Outlined" Class="mt-2"
                                                                                              AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                                                                              AdornmentColor="Color.Success"
                                                                                              Margin="Margin.Dense" />
                                                                            </MudItem>
                                                                            <MudItem xs="12" sm="12" md="6" lg="6">
                                                                                <MudButton Variant="Variant.Outlined" Style="width: 100%;"
                                                                                           StartIcon="@Icons.Material.Filled.AddToQueue"
                                                                                           @onclick="AddPayment" Class="mt-2"
                                                                                           Color="Color.Primary">@Lang.Keys["HealthRecord:AddNewPay"]</MudButton>
                                                                            </MudItem>
                                                                            <MudItem xs="12" sm="12" md="6" lg="6">
                                                                                <MudButton Variant="Variant.Outlined" Style="width: 100%"
                                                                                           StartIcon="@Icons.Material.Filled.Cancel" Class="mt-2 mb-2"
                                                                                           Color="Color.Dark"
                                                                                           @onclick="CancelPaymentCreation">@Lang.Keys["HealthRecord:CancelPay"]</MudButton>
                                                                            </MudItem>
                                                                        </MudGrid>
                                                                    </MudItem>
                                                                }

                                                                <MudItem Class="add-btn">
                                                                    <MudButton Variant="Variant.Outlined" Disabled="record.IsPaymentCompleted"
                                                                               Color="Color.Info" Class="mt-3"
                                                                               StartIcon="@Icons.Material.Filled.Add" Style="width: 100%"
                                                                               @onclick="ShowAddPaymentForm">@Lang.Keys["HealthRecord:AddNewPay"]</MudButton>
                                                                </MudItem>
                                                            }
                                </Authorized>
                            </AuthorizeView>
                        </MudCardContent>

                        <MudDivider />

                        <MudCardContent>
                            <MudGrid Justify="Justify.FlexStart">
                                <MudItem xs="12" sm="12" md="12" lg="4">
                                    <MudButton Style="width: 100%;" Class="mx-2" Color="Color.Info" Variant="Variant.Filled" OnClick="GoBack" StartIcon="@Icons.Material.Filled.ArrowBack" IconColor="Color.Surface">@Lang.Keys["HealthRecord:Back"]</MudButton>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12" lg="4">
                                    <MudButton Style="width: 100%;" Class="mx-2" Color="Color.Error" Variant="Variant.Filled" OnClick="OpenRemoveDialog" StartIcon="@Icons.Material.Filled.Remove" IconColor="Color.Surface">@Lang.Keys["HealthRecord:RmRecord"]</MudButton>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12" lg="4">
                                    <MudButton Style="width: 100%;" Class="mx-2" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(()=> NavigationManager.NavigateTo($"/patients/records/update/{Id}"))" StartIcon="@Icons.Material.Filled.Edit" IconColor="Color.Surface">@Lang.Keys["HealthRecord:Update"]</MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudContainer>
            }
}


<style>
    .add-btn {
        width: 100%;
        display: @_addPaymentButtonStauts;
    }

    .add-payment-form {
        border: 1px solid lightgray;
        border-radius: 2.5px;
        padding: 1rem;
        margin-top: 1rem;
    }

    .dialog-overlay {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
</style>

@code {
    protected override void OnInitialized()
    {
        Lang.InitLocalizedComponent(this);
        base.OnInitialized();
    }
}