@page "/patients/records/{id:guid}"
@attribute [Authorize(Roles = "Admin")]

@{
    if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" style="padding: 1rem;">@_errorMessage!</MudAlert>
    }
}

@{
    if (_isBusy == true)
    {
        <MudGrid Class="d-flex justify-center" Style="height: 100vh; align-items: center;">
            <MudItem>
                <Loader />
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudContainer Class="mt-5">
            <MudCard Style="padding: 2rem;">
                <MudCardContent>
                    <MudText Typo="Typo.h3" Color="Color.Error"><b><i class="bi bi-journal-medical"></i> Health Record</b>
                    </MudText>
                    <MudText Typo="Typo.h6"><b>Created On: @record.CreatedOn.ToLongDateString()</b></MudText>
                    <MudText Typo="Typo.h6" Color="Color.Info" @onclick="GoBack"
                        Style="text-decoration: underline; cursor: pointer;">@record.Patient.FullName</MudText>
                    <MudDivider />
                </MudCardContent>

                <MudCardContent Class="mb-5">
                    <MudTextField T="string" Label="Case Description" @bind-Text="@record.Description" ReadOnly="true"
                        MultiLine="true" Lines="10" Variant="Variant.Outlined" />
                </MudCardContent>

                <MudCardContent Class="mb-5">
                    <MudExpansionPanels MultiExpansion="true">
                        <div class="vertical-align">
                            <MudIcon Icon="@Icons.Outlined.Lightbulb" Color="Color.Tertiary" /> &nbsp;
                            <span>
                                <MudText Typo="Typo.h5"><b>Smart Insights</b></MudText>
                            </span>
                            <MudChip Color="Color.Tertiary" Size="Size.Small" Variant="Variant.Filled" Text="BETA" />
                        </div>

                        <MudExpansionPanel Class="mb-5 mt-3" Text="Smart Insights Suggestions">
                            <InsightsContainer Text="Suggestions For Patient" insights="@record.PatientSuggestion" />
                            <InsightsContainer Text="Related Medical Cases" insights="@record.RelatedMedicalCases" />
                            <InsightsContainer Text="Suggested Medical Tests" insights="@record.SuggestedMedicalTests" />
                            <InsightsContainer Text="Case Information" insights="@record.MedicalCaseInsight" />
                        </MudExpansionPanel>

                    </MudExpansionPanels>
                </MudCardContent>




                @if (record.Notes == null)
                {
                    <Loader />
                }
                else
                {
                    if (record.Notes.Count == 0)
                    {
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Color="Color.Error">This record doesn't include any notes!</MudText>
                        </MudCardContent>
                    }
                    else
                    {
                        <MudCardContent>
                            <MudText Typo="Typo.h6"><b>Additional Information</b></MudText>
                            @foreach (var note in record.Notes)
                            {
                                <MudText Typo="Typo.body2"><i class="bi bi-pin-angle-fill"></i> @note.Title</MudText>
                            }
                        </MudCardContent>
                    }
                }


                <MudCardContent>
                    <MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="GoBack">Go Back</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="OpenRemoveDialog">
                        Remove Record
                    </MudButton>
                </MudCardContent>
            </MudCard>
        </MudContainer>
    }
}


<style>
    .vertical-align {
        display: flex;
        align-items: center;
    }
</style>