@page "/patients/records/update/{id:guid}"
@attribute [Authorize(Roles = "Admin")]
@inject ILanguageContainerService Lang

@if (_isBusy == true)
{
    <MudGrid Class="d-flex justify-center" Style="height: 100vh; align-items: center;">
        <MudItem>
            <Loader />
        </MudItem>
    </MudGrid>
}
else
{

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@_errorMessage</MudAlert>
    }


    <MudContainer Class="mt-2 mb-2">
        <MudCard Style="padding: 2rem; box-shadow: 5px 5px 25px lightgray;">
            <MudItem>
                <MudText Typo="Typo.h6"><b><i class="bi bi-envelope-paper-fill"></i> @Lang.Keys["EditHR:Title"]: @result.Value.Patient.FullName</b></MudText>
                <MudText Typo="Typo.h6"><b><i class="bi bi-calendar-week-fill"></i> @Lang.Keys["EditHR:CreatedOn"]:</b> @result.Value.CreatedOn.ToShortDateString()</MudText>
            </MudItem>

            <MudDivider />

            <MudItem>
                <EditForm Model="model" OnValidSubmit="UpdateAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary style="color: red;" />

                    <MudGrid>

                        <MudItem Class="mt-5" xs="12" md="12" lg="12">
                            <MudTextField T="string" Variant="Variant.Outlined" Counter="0" Immediate="true" Label="@Lang.Keys["EditHR:Description"]" Multiline="true"
                                          Required="true" RequiredError="@Lang.Keys["EditHR:DescriptionError"]" @bind-Value="model.Description" Lines="10"
                                          HelperText="@Lang.Keys["EditHR:DescriptionHelperText"]" HelperTextOnFocus="true" />
                        </MudItem>

                        <AuthorizeView Context="authContext">
                            <Authorized>
                                @if (authContext.User.FindFirst("DoctorType").Value == "Dentist")
                                {
                                    <MudItem Class="mb-3" xs="12" sm="12" md="8" lg="8">
                                        <MudTextField T="decimal?" Variant="Variant.Outlined"
                                                      Label="@Lang.Keys["EditHR:TotalPay"]" Adornment="Adornment.End"
                                                      AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                                      AdornmentColor="Color.Success" Margin="Margin.Dense"
                                                      @bind-Value="model.TotalPayment"
                                                      Required="true" RequiredError="@Lang.Keys["EditHR:TotalPayError"]" />
                                    </MudItem>

                                    <MudItem xs="12" sm="12" md="4" lg="4">
                                        <MudSelect T="string" Label="@Lang.Keys["EditHR:SelectCurrency"]" Margin="Margin.Dense" @bind-Value="model.Currency" Variant="Variant.Outlined">
                                            <MudSelectItem Value="@("SYP")">@Lang.Keys["AddHR:SYP"] 💷</MudSelectItem>
                                            <MudSelectItem Value="@("USD")">@Lang.Keys["AddHR:USD"] 💵</MudSelectItem>
                                        </MudSelect>
                                    </MudItem>
                                }
                            </Authorized>
                        </AuthorizeView>

                        <MudItem xs="12" md="12" lg="12">
                            @if (result.Value.Notes.Any())
                            {
                                <MudText Typo="Typo.h6">@Lang.Keys["EditHR:OldNotes"]</MudText>

                                @foreach (var note in result.Value.Notes)
                                {
                                    <MudItem xs="12">
                                        <MudText Typo="Typo.body1">📌 @note.Title</MudText>
                                    </MudItem>
                                }
                            }
                        </MudItem>

                        <MudItem xs="12" md="12" lg="12">
                            <MudExpansionPanels MultiExpansion="true">
                                <div class="vertical-align">
                                    <MudFab StartIcon="@Icons.Outlined.Lightbulb" Size="Size.Small" Label="@Lang.Keys["AddHR:Generate"]" Color="Color.Tertiary"
                                            OnClick="GetInsights" Disabled="_isPreparingInsights || string.IsNullOrEmpty(model.Description)" /> &nbsp;
                                    <span>
                                        <MudText Typo="Typo.h5"><b>@Lang.Keys["HealthRecord:Insights"]</b></MudText>
                                    </span>
                                </div>
                                <MudExpansionPanel Class="mb-5 mt-3" Text="@Lang.Keys["AddHR:InsightsPanelText"]">
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:Suggestions"]" insights="model.PatientSuggestion" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:RelatedCases"]" insights="model.RelatedMedicalCases" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:SuggestedTests"]" insights="model.SuggestedMedicalTests" />
                                    <InsightsContainer Text="@Lang.Keys["HealthRecord:CaseInfo"]" insights="model.MedicalCaseInsight" />

                                    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="mt-5 mb-5">
                                        @Lang.Keys["AddHR:AiResultsMsg"]
                                    </MudAlert>
                                </MudExpansionPanel>

                                <MudExpansionPanel Text="@Lang.Keys["AddHR:CaseNotes"]">
                                    <MudGrid>
                                        <MudItem xs="12" md="12" lg="12">
                                            <MudTextField T="string" @bind-Value="@_noteTitle"
                                                          Label="@Lang.Keys["EditHR:NoteField"]" />
                                        </MudItem>

                                        @if (notes != null)
                                        {
                                            @foreach (var note in notes)
                                            {
                                                <MudItem xs="12">
                                                    <MudText Typo="Typo.body2">
                                                        <i class="bi bi-pin-angle-fill"></i>@note.Title
                                                    </MudText>
                                                </MudItem>
                                            }
                                        }
                                        else
                                        {
                                            <MudItem>
                                                <MudText Typo="Typo.body1" Color="Color.Tertiary"></MudText>
                                            </MudItem>
                                        }
                                        <MudItem xs="12" md="12" lg="12">
                                            <MudButton Style="width: 100%;" Variant="Variant.Filled" Color="Color.Warning"
                                                       @onclick="AddNote">
                                                <i class="bi bi-file-earmark-plus-fill"></i><b>
                                                    @Lang.Keys["AddHR:AddNewNote"]
                                                </b>
                                            </MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudExpansionPanel>
                            </MudExpansionPanels>
                        </MudItem>

                        <MudItem xs="12">
                            <MudButton Disabled="@_isMakingRequest" ButtonType="ButtonType.Submit" Style="width: 100%;" Variant="Variant.Filled" Color="Color.Primary" Class="mb-3">@Lang.Keys["HealthRecord:Update"]</MudButton>
                            <MudDivider />
                            <MudButton Disabled="@_isMakingRequest" Style="width: 100%;" Variant="Variant.Outlined" Color="Color.Info" Class="mb-3" @onclick="GoBack">@Lang.Keys["EditHR:GoBack"]</MudButton>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudItem>
        </MudCard>
    </MudContainer>

}

@code {
    protected override void OnInitialized()
    {
        Lang.InitLocalizedComponent(this);
        base.OnInitialized();
    }
} 